/* Code */

.code_div {
  -webkit-border-radius:1em;
  padding:1em 1em;
  margin: 1.5em 0;
  background-color:#ddd;
  white-space: normal;
}


.code_block > p {
  line-height:1.5em;
  margin:0;
  text-indent:-1em;
}

.code {
  font-family:'Nanum Gothic Coding', sans-serif;
  line-height:0.5em;
  margin:0;
}
.code_block {
  width:auto;
  white-space: normal;
  padding-left:2.5em;
}



.code_red { color: #C41A16; }
.code_violet {  color: #5c2699; }
.code_navy {  color: #2E0D6E;}
.code_blue {  color: #0000FF;}
.code_emerald { color: #3F6E74; }
.code_darkemerald {   color: #26474B; }
.code_redbrown {  color: #AA0D91; }
.code_brown {   color: #891315; }
.code_green {   color: #236E25; }
.code_lightbrown {    color: #683821; }
.code_caption {
  font-size:11px;
  text-align:left;
  margin-bottom:5px;
}
.code_narrow {
  letter-spacing:0px;
}

